body {
  margin: 0;
}

.hi {
  display: none;
}

.nyala {
  color: rgb(255, 239, 239);
  background-color: rgb(255, 163, 231);
  font-family: "mukta", Arial, Helvetica, sans-serif;
  margin-top: 40px;
  transition: 4s;
}
.mati {
  background-color: black;
  margin-top: 40px;
  position: fixed;

  z-index: 100;
}
.mati::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  bottom: 0;
}
.container {
  margin: auto;
  max-width: 90%;
}
/* decoration */

.ballon {
  width: 37%;
  position: fixed;
  bottom: 0;
  right: 0;
}

/* main */
.animation {
  margin-top: -1em;
  order: 1;
}

.main {
  position: relative;
}
.main img {
  margin-top: -20px;
  width: 12em;
}

.animation svg {
  width: 100%;
  height: 100%;
}
.animation .text {
  stroke-dasharray: 13900;
  stroke-dashoffset: 13900;
  animation: animate 3s linear 1 forwards;
}
.animation .anyaw {
  margin-top: -3em;
}
.animation .text-anyaw {
  stroke-dasharray: 13900;
  stroke-dashoffset: 13900;
  animation: animate 3s 3s linear 1 forwards;
}
.animation .lope {
  stroke-dasharray: 13900;
  stroke-dashoffset: 13900;
  animation: animate 10s 5s linear 1 forwards;
}
@keyframes animate {
  to {
    stroke-dashoffset: 0;
  }
}

/* ucapan */

.ucapan {
  padding: 2em;
  background-color: rgb(255, 85, 185);
  border-radius: 10px;
  font-size: 1.1rem;
  text-align: justify;
  line-height: 1.4em;
  font-weight: normal;
  text-shadow: 0px 4px 3px rgba(225, 115, 203, 0.8);
  margin: 200px auto;
}

.patpat h1 {
  font-size: 1.5rem;
}
.patpat img {
  width: 3.8em;
  margin-left: 15px;
}

footer {
  font-size: 1rem;
}

.bi-heart-fill {
  color: red;
  margin-top: -8px;
  margin-left: -3px;
  transform: rotate(15deg);
}
/* lamp */
.lamp {
  background-color: royalblue;
  border: 0;
  border-radius: 2px;
  padding: 0.5em 4em 0.1em;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 20px auto;
  color: #fff;
  font-size: 0.8rem;
  z-index: 999;
}
.lamp:active {
  background-color: rgb(37, 83, 221);
}
.lamp p {
  margin-top: 3px;
}
.bi-lightbulb {
  color: #fff;
  margin-top: 10px;
}

@media (min-width: 992px) {
  .container {
    max-width: 70%;
  }
  /* decor */
  .ballon {
    width: 20%;
  }

  /* main */
  .gambar {
    order: 1;
  }
  .main img {
    width: 200px;
    height: 400px;
  }
  .animation {
    width: 75%;
    height: 50%;
  }
  .animation .anyaw {
    margin-top: -160px;
  }
  /* ucapan */
  .patpat h1 {
    font-size: 4rem;
    line-height: 1em;
  }
  .patpat img {
    width: 4.2em;
  }

  footer {
    font-size: 1rem;
  }
  .bi-heart-fill {
    color: red;
    margin-top: -10px;
    margin-left: -5px;
  }

  /* lamp */
  #lamp {
    font-size: 1rem;
  }
}
